<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    {{ if .IsHome -}}
    <title>{{ .Site.Title }} - {{ $.Site.Params.title }}</title>
    {{- else -}}
    <title>{{ .Title }} – {{ .Site.Title }}</title>
    {{- end }}

    {{ block "meta" . }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ "img/me.jpg" | absURL }}" />

    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:image" content="{{ "img/me.jpg" | absURL }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@may_jethro">

    <meta name="description" content="{{ $.Site.Params.description }}" />
    <meta name="keywords" content="Full-stack web developer, HTML, CSS, JS, PHP, Laravel, South Africa">
    {{ end }}

    {{ with resources.Get "css/style.css" | resources.PostCSS  }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}

    <link rel="alternate" type="application/rss+xml" href="/posts/index.xml" title="Jethro May: Posts" />

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>

    {{ template "_internal/google_analytics.html" . }}
</head>

<body class="antialiased flex flex-col h-screen">
<a class="skip-link" href="#main">Skip to main content</a>
{{ partial "header.html" . }}

<main id="main" class="flex-grow container mx-auto xs:px-4 sm:px-4 md:px-4 lg:px-4 md:mt-20 lg:mt-20">
    {{ block "main" . }} {{ end }}
</main>

{{ partial "footer.html" . }}
<script>
    !function (d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs
                .parentNode
                .insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>
</body>
</html>
