@tailwind base;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inter"), url("/fonts/inter-regular.woff") format('woff');
}

html, body, main {
    font-family: 'Inter', sans-serif;
}

h1 {
    @apply font-bold text-5xl mb-4
}

h2 {
    @apply font-bold text-3xl mb-4
}

p {
    @apply leading-relaxed text-lg
}

main p:not(:last-child) {
    @apply mb-4
}

#posts article:not(:only-child):not(:last-child) {
    @apply border-b-2 pb-12 mb-12
}

@tailwind components;

.skip-link {
    position: absolute;
    left: -9999em;
}

.skip-link:focus {
    left: 0;
    z-index: 1;
}

.pagination {
    @apply flex justify-center my-6
}

.pagination li a {
    @apply text-lg underline mr-4
}

@tailwind utilities;

@media screen and (min-width: 320px) and (max-width: 1023px) {
    main {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 860px;
    }
}
