{{ define "meta" }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ "img/me.jpg" | absURL }}" />

<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:image" content="{{ "img/me.jpg" | absURL }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@may_jethro">

<meta name="description" content="{{ .Summary | truncate 155 }}" />

<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ define "main" }}
    <article class="md:mt-20 lg:mb-10">
        <header>
            <h1 class="font-bold leading-tight xs:text-3xl text-5xl mb-0">{{ .Title }}</h1>
            <p class="text-sm text-gray-600 mb-6 mr-2">
                <time>{{ .Date.Format "January 2, 2006" }}</time> &nbsp;&bull;&nbsp;
                {{ math.Round (div (countwords .Content) 220.0) }} min read
            </p>
        </header>
        {{ .Content }}
        <footer>
            <h2 class="mt-8">
                Did you enjoy this post?
            </h2>
            <p>
                I would be eternally grateful if you let me know by sharing it on Twitter!
            </p>
            <p>
                <a class="text-lg text-blue-700" href="http://twitter.com/share?text={{ .Title }} via @may_jethro&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;">Click here to share the post on Twitter</a> and follow me <a class="text-lg text-blue-700" href="https://twitter.com/may_jethro" target="_blank">@may_jethro</a> for more content.
            </p>
        </footer>
    </article>
    {{ partial "newsletter.html" . }}
{{ end }}
