{{ define "meta" }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ "img/me.jpg" | absURL }}" />
<meta property="og:description" content="{{ .Summary | truncate 300 }}" />
<meta property="article:author" content="Jethro May" />
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }}" />
<meta name="description" content="{{ .Summary | truncate 155 }}" />

<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ define "main" }}
    <article class="md:mt-20 lg:mb-20">
        <header>
            <h1 class="font-bold text-5xl mb-0">{{ .Title }}</h1>
            <p class="text-sm text-gray-600 mb-6">
                Published
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                &bull; {{ math.Round (div (countwords .Content) 220.0) }} min read
            </p>
        </header>
        {{ .Content }}
    </article>
{{ end }}
