<footer class="flex-shrink-0 pt-10 pb-10 pr-5 pl-5">
    <div class="flex items-center justify-center">
        <span class="text-gray-500">© {{ now.Format "2006" }}</span>
    </div>
    <div class="flex items-center justify-center">
        <a href="https://ko-fi.com/jethromay" class="text-gray-500 mr-2 ml-2 hover:text-blue-400" target="_blank" rel="noopener noreferrer">Ko-Fi</a>
        <a href="https://github.com/jethromay" class="text-gray-500 mr-2 ml-2 hover:text-blue-400" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://twitter.com/may_jethro" class="text-gray-500 mr-2 ml-2 hover:text-blue-400" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
</footer>
