<footer class="flex-shrink-0 pt-0 pb-10 pr-5 pl-5 xs:text-center sm:text-center" role="contentinfo">
    <div class="flex flex-col items-center justify-center">
        <p class="text-sm mb-1 text-gray-500">
            <time class="text-gray-500">© {{ now.Format "2006" }}</time> &bull; Copyright {{ .Site.Title }}. All rights reserved.
        </p>
    </div>
    <div class="flex items-center justify-center">
        <a href="https://twitter.com/may_jethro" class="text-sm text-gray-500 mr-2 ml-2 hover:text-blue-700" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="https://github.com/jethromay" class="text-sm text-gray-500 mr-2 ml-2 hover:text-blue-700" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://dev.to/jethromay" class="text-sm text-gray-500 mr-2 ml-2 hover:text-blue-700" target="_blank" rel="noopener noreferrer">Dev.to</a>
        <a href="https://ko-fi.com/jethromay" class="text-sm text-gray-500 mr-2 ml-2 hover:text-blue-700" target="_blank" rel="noopener noreferrer">Ko-Fi</a>
        <a href="https://jethromay.com/posts/index.xml" class="text-sm text-gray-500 mr-2 ml-2 hover:text-blue-700">RSS</a>
    </div>
</footer>
