<header class="w-full bg-white lg:p-2 xs:border-2 xs:border-gray-200 sm:border-2 sm:border-gray-200 md:border-2 md:border-gray-200 lg:border-0 fixed top-0 z-50">
    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 py-3 xs:px-4 sm:px-4 md:px-4 lg:px-4 xs:border-b" x-data="{ open: false }" @keydown.window.escape="open = false" @click.away="open = false">
        <div class="justify-between flex items-center xs:w-full sm:w-full md:w-full md:px-0 lg:px-0 lg:w-1/2">
            <a href="/" class="flex text-black font-bold no-underline hover:no-underline" title="Jethro May">
                <span class="text-lg">Jethro May</span>
            </a>

            <div class="flex lg:hidden">
                <button @click="open = !open" x-bind:aria-label="open ? 'Close main menu' : 'Main menu'" x-bind:aria-expanded="open">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24" x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': open, 'block': !open }">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                    <svg class="h-6 w-6 hidden" stroke="currentColor" fill="none" viewBox="0 0 24 24" x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': !open, 'block': open }">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
        <nav class="w-full flex-grow lg:flex lg:items-center lg:w-1/2 lg:block mt-2 hidden lg:mt-0" x-state:on="Open" x-state:off="closed" :class="{ 'block': open, 'hidden': !open }" aria-label="Main">
            <ul class="lg:flex flex-1 items-center lg:justify-end md:px-0 py-2">
                <li class="lg:mr-3 lg:ml-3 lg:invisible pb-2">
                    <a href="/" class="text-gray-600 hover:underline text-lg">Home</a>
                </li>
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    <li class="lg:mr-3 text-lg lg:ml-3 xs:py-1 py-2">
                        {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                        {{ $active = or $active (eq .Name $current.Title) }}
                        {{ $active = or $active (and (eq .Name "Posts") (eq $current.Section "posts")) }}
                        <a href="{{ .URL }}" class="text-gray-600 hover:underline lg:text-lg {{ if $active }}text-gray-800{{ end }}">{{ .Name }}</a>
                    </li>
                {{ end }}
                <li class="flex items-center lg:ml-3 pt-2 pb-1">
                    <a href='https://ko-fi.com/jethromay'
                       class="inline-block w-8"
                       target="_blank"
                       rel="noopener noreferrer"
                       aria-label="Buy me a coffee!"
                       title="Buy me a coffee!">
                        <img src="/img/ko-fi.png" alt="Buy me a coffee!"/>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
