<header class="bg-white border-b-2 fixed shadow-none top-0 z-50 w-full lg:border-0 lg:p-2"
        x-data="{ open: false, top: false }"
        :class="{ 'md:shadow-none lg:shadow-none': !top, 'md:shadow-none lg:shadow': top }"
        @scroll.window="top = (window.scrollY > 60)">
    <div class="flex flex-wrap items-center container mx-auto w-full mt-0 px-4 py-3">
        <div class="flex items-center justify-between">
            <a href="/" class="flex font-bold text-xl no-underline hover:text-blue-700 hover:no-underline" title="Jethro May">
                Jethro May
            </a>
        </div>
        <nav class="flex flex-grow" aria-label="Main">
            <ul class="flex flex-1 justify-end space-x-6 lg:px-0" role="menubar">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    <li class="text-base py-1 md:text-lg lg:py-2" role="menuitem">
                        {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                        {{ $active = or $active (eq .Name $current.Title) }}
                        {{ $active = or $active (and (eq .Name "Posts") (eq $current.Section "posts")) }}
                        <a href="{{ .URL }}" class="text-gray-700 hover:text-blue-700 lg:text-lg {{ if $active }}text-gray-900{{ end }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
