<div class="subscribe my-12">
    <div class="container mx-auto bg-gray-200 pt-6 pb-4 px-6 rounded">
        <p class="text-base mt-2">Subscribe to my newsletter for tech related tips, tricks and tutorials! No spam, unsubscribe anytime.</p>
        <form class="w-full mb-2">
            <label class="block hidden" for="email">Email Address</label>
            <input class="mb-3 p-2 mr-2 border-b-2 appearance-none rounded focus:bg-white focus:outline-none focus:border-blue-500" name="email" id="email" type="email" x-model="email" placeholder="Email Address">
            <button class="bg-blue-500 hover:bg-blue-400 text-white p-2 rounded" type="submit">Subscribe</button>
            <div class="text-sm italic text-green-400" id="message"></div>
        </form>
    </div>
</div>

<script>
    let newsletter = document.querySelector('form');
    let messageDiv = document.getElementById('message');

    if (newsletter) {
        newsletter.addEventListener('submit', e => {
            e.preventDefault();
            let email = document.getElementById('email').value;
            submitEmail(email);
        })
    }

    function submitEmail(email) {
        fetch('/.netlify/functions/subscribe', {
            method: 'POST',
            body: JSON.stringify({
                email: email
            })
        }).then(response => response.json())
          .then(data => {
            messageDiv.innerText = data.message;
        });
    }
</script>

