<div class="subscribe mt-8 mb-10">
    <div class="container mx-auto bg-gray-200 py-6 px-6 rounded">
        <p class="text-base mt-2">Want to stay up to date with the latest content? Join my mailing list to receive updates. Unsubscribe when ever.</p>
        <form class="w-full mb-2">
            <label class="block hidden" for="email">Email Address</label>
            <input type="email" class="mb-3 p-2 mr-2 border-b-2 appearance-none rounded focus:bg-white focus:outline-none focus:border-blue-500" name="email" id="email" placeholder="Email Address">
            <button class="bg-blue-500 hover:bg-blue-400 text-white p-2 rounded" type="submit">Subscribe</button>
        </form>
    </div>
</div>
