{{ define "main" }}
    <div class="intro xs:mb-12 lg:pt-20 lg:pb-10">
        <div class="flex flex-col">
            <h1 class="font-bold text-6xl xs:text-4xl sm:text-5xl">Hey, I'm Jethro.</h1>
            <p class="mt-0 mb-4">I'm a full-stack web developer &amp; writer with a passion for Laravel.</p>
            <div class="flex justify-start items-center text-gray-500">
                <a class="twitter-follow-button"
                   href="https://twitter.com/may_jethro"
                   data-size="large" data-show-count="true">
                    Follow @may_Jethro</a>
            </div>
        </div>
    </div>
    <section class="xs:mb-12 mt-8 mb-10" id="posts">
        {{ range first 5 (where $.Site.RegularPages "Section" "posts") }}
            <article>
                <header class="mb-4">
                    <div class="flex items-center">
                        <h2 class="text-3xl mb-0 mr-3">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                    </div>
                    <p class="text-sm text-gray-600 mb-6 mt-1">
                        <time>
                            {{ .PublishDate.Format "January 2, 2006" }}
                        </time>
                        <span>&bull;</span> {{ math.Round (div (countwords .Content) 220.0) }} min read
                    </p>
                </header>
                <p>
                    {{ .Description }}
                </p>
                <footer>
                    <a class="text-lg underline text-blue-700" href="{{ .RelPermalink }}">Read more</a>
                </footer>
            </article>
        {{ end }}
    </section>
    {{ partial "newsletter.html" . }}
{{ end }}
